html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;

}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 250px;
}

.robot {
  width: 320px;
  height: 100%;
}
.robot-brain,
.robot-body {
  width: 320px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 25%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  right: 50%;
  top: 10%;
}

.robot-head-right {
  position: absolute;
  left: 50%;
  top: 10%;
}

.robot:hover .robot-head-right {
  position: absolute;
  left: 55%;
  top: 10%;
}

.robot:hover .robot-head-left {
  position: absolute;
  right: 55%;
  top: 10%;
}

.robot:hover .robot-brain {
  position: absolute;
  top: 20%;
}
